.theme-dark {
    --background-mentioned-hover: rgb(0, 0 )
}
.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    background: rgb(0, 0, 0);
}
.searchBar-6Kv8R2, .da-searchBar {
    background: #181818;
}
.scrollerContent-WzeG7R, .da-scrollerContent, .content-3YMskv, .da-content {
    background-color: #181717;
}
.title-3qD0b-, .da-title, .container-1r6BKw, .da-container, .themed-ANHk51, .da-themed {
    background: #111111;
}
.auto-Ge5KZx, .scrollerBase-289Jih {
    background: #111111;
}
.nameAndDecorators-5FJ2dg {
    background-color: #111111;
}
.activity-2Gy-9S, .da-activity {
    background-color: #111111;
}
.layout-2DM8Md {
    background-color: #111111;
}
.members-1998pB, .members-1998pB>div {
    background-color: #111111
}
.container-1r6BKw.themed-ANHk51 {
    background: #111111;
}
.scrollableContainer-2NUZem { 
    background: #161515;
}
.theme-dark .form-2fGMdU:before {
    background: #111111;
}
.header-QKLPzZ {
    background-color: #181717;
}
.activityName-1IaRLn, .nameNormal-2lqVQK, .nameWrap-3Z4G_9 {
    background-color: #111111;
}
.tabBar-2MuP6-, .tabBarItem-1b8RUP {
    background-color: #181818;
}
.tabBarContainer {
    background-color: #161515;
} 
.containerDefault-3GGEv_, .containerDragAfter-3TEhpe, .containerDragBefore-3Dzc5x, .containerUserOver-1Tcb7l {
    background-color: #111111;
}
.content-3YMskv, .da-content {
    background: #111111;
}
.theme-dark #MemberCount {
    background-color: #111111;
}
.tabBarContainer-1s1u-z {
    border-top: 1px solid #202225;
}
.directionColumn-35P_nr:root {
    background-color: #111111;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #151414;
    color: hsla(0,0%,100%,.8);
}
.grid-1nZz7S {
    background-color: #181818;
}
.theme-dark .children-19S4PO:after {
    background-color: #111111;
}
#bd-pub-button {
    background-color: #151414;
}
.theme-dark .root-1gCeng {
    background-color: #111111;
}
.theme-dark .footer-2gL1pp {
    background-color: #111111;
}